/* HTML tags */

body {
    color: #000;
    background-color: #ffffff;
    transition: background-color 1s ease;
    text-align: center;
    font-size: 120%;
    line-height: 1.618;
  }

h1, h2 {
        font-size: 4em;
        letter-spacing: -0.05em;
        line-height: 1.1;
        font-family: 'Amatic SC', cursive;
      }

h1 {
     font-size: 5em;
     visibility: hidden;
     animation: transitionOf 300ms ease-in-out 3s 1 forwards;
   }
       
@keyframes transitionOf {
    from {
          visibility: hidden;
          transform: scaleY(0);
         }
    to {
        visibility: visible;
        transform: scaleY(1);
       }
  }
        
span {
      color: #fd5e53;
     }

p {
    max-width: 50em;
    margin: 0 auto 1.618em auto;
    font-size: 25px;
  }

li {
    font-size: 25px;
   }

a {
    font-size: 55px;
    margin-right: 30px;
    transition-duration: 300ms;
  }

p, li, a, h3 {
  font-family: 'Josefin Slab', serif;
  }

ul {
    list-style-type: none;
  }

button {
  border: none;
  background: none;
  }

  /* Ids */

  /* Header Menu Buttons */

  #projects:hover {
    color: #FAEB33;
  }
  
  #certifications:hover {
    color: #FAEB33;
  }
  
  #skills:hover {
    color: #FAEB33;
  }
  
  #skills {
    color: #2F8FED;
  }
  
  #certifications {
    color: #F2293A;
  }
  
  #projects {
    color: #F19031;
  }
  
  
  /* Classes */

  /* panel styles */

  .panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    margin-bottom: 200px;
  }
  
  /* colours */
  .color-violet {
    background-color: #7A4EAB;
  }
  .color-indigo {
    background-color: #4332CF;
  }
  .color-blue {
    background-color: #2F8FED;
  }
  .color-green {
    background-color: #4DCF42;
  }
  .color-yellow {
    background-color: #FAEB33;
  }
  .color-orange {
    background-color: #F19031;
  }
  .color-red {
    background-color: #F2293A;
  }
  
  /* Social Media Icons */

  .fb {
      color: #576d98;
  }

  .tweet {
    color: #46a1d9;
  }

  .link-in {
    color: #286e8e;
  }


  .fb:hover {
      color: #4267B2;
  }

  .tweet:hover {
      color: #1DA1F2;
  }

  .link-in:hover {
      color: #0e76a8;
  }
 
  /* Image Resolution */

  .sticker-res {
    width: 490px;
    height: 490px;
  }

  /* Cover Section */

  .profile-bg {
      width: 445px;
      height: 445px;
      animation: transitionIn 1s ease-in;
  }

  @keyframes transitionIn {
     from {
         transform: scaleX(0) scaleY(0);
     }
     to {
       transform: scaleX(1) scaleY(1);
     }
  }

  .profile-img {
   position: absolute;
   width: 490px;
   height: 490px;
   left: 40%;
   visibility: hidden;
   animation: transitionQ 2s ease-in 1s 1 forwards;
 }

  @keyframes transitionQ {
  from {
      transform: scaleX(0) scaleY(0);
  }
  to {
    visibility: visible;
    transform: scaleX(1) scaleY(1);
  }
 }

 .cover-para {
     margin-top: 0;
     position: relative;
     left: -1500px;
    animation: transitionBy 2s ease-in-out 3s 1 forwards;
  }

 @keyframes transitionBy {
     from {
         left:-1500px;
     }
     to {
      position:static;
      left: 1500px;
     }
 }

 .links button {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin-right: 20px;
    cursor: pointer;
  }

/* Certifications Panel */

  .certifications h3 {
    color: #cb3737;
  }

  .certifications-list {
    background-color: #f9fcfb;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .certifications-list-last {
    background-color: #f9fcfb;
    border-radius: 8px;
    padding: 20px;
  }

  .certifications-list a {
    font-size: 25px;
    text-decoration: none;
    color: #ee6f57;
  }

  .certifications-list-last a {
    font-size: 25px;
    text-decoration: none;
    color: #ee6f57;
  }

  .certifications-list a:hover {
    color: #cb3737;
  }

  .certifications-list-last a:hover {
    color: #cb3737;
 }

  .git-project {
    font-size: 26px;
    text-decoration: none;
    color:black;
    font-weight: bold;
  }

/* Skills Panel */

  .skills h2 {
    color: #eda42f;
  }

  .skills p {
    color: #edd42f;
  }

/* Projects Panel */

  .projects h2 {
    color: #f7f6e7;
  }

  .projects span {
    color: #f16131;
  }

/* Socials Panel */

  .socials h2 {
    color: #fa3351;
  }

/* Scroll to Top Button */

  .scroll-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 50px;
    /* color: #1b1717; */
    color: #643E46FF;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
  }
  
  .scroll-to-top.active {
    pointer-events: auto;
    opacity: 1;
  }
  
  .scroll-to-top:active {
    color: #1b1717;
  }

/* Mobile Styles */

@media only screen and (max-width: 800px) {

  p {
    font-size: 18px;
  }

  li {
    font-size: 18px;
  }
  
  .profile-img {
    left: 35%;
    width: 245px;
    height: 245px;
  }

  .profile-bg {
    width: 222.5px;
    height: 222.5px;
  }

  .panel {
    display: block;
    margin-bottom: 120px;
  }

  .certifications {
    margin: 0 auto 160px auto;
  }

  #skills, #certifications, #projects {
    font-size: 30px;
    margin-right: 7px;
  }
  
  h1, h2 {
    font-size: 3em;
  }
  
  .sticker-res {
    width: 245px;
    height: 245px;
  }
 
 .certifications-list a {
  font-size: 20px;
}

.certifications-list-last a {
  font-size: 20px;
}

a {
  font-size: 40px;
}

.git-project {
  font-size: 22px;
}

}

